@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    transition: all 0.3s ease-in-out;
  }
  input:focus {
    outline: none;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

textarea {
  resize: none;
}

.custom-container {
  @apply w-full max-w-[1310px] mx-auto px-5;
}

@media (max-width: 767px) {
  .small-device-collapse-nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
  }
}
.section-title {
  @apply text-3xl md:text-4xl lg:text-[40px] xl:text-5xl font-semibold capitalize text-center;
}
.container-padding {
  @apply pt-12 md:pt-14 lg:pt-[70px] xl:pt-[100px];
}
.nav-item {
  @apply text-base font-semibold px-6 md:px-3 py-1 my-2 md:my-0 text-brand hover:text-secondary transition-all ease-in-out duration-200;
}

.dashboard-nav-item {
  @apply text-[15px] text-brand hover:text-secondary transition-all ease-in-out duration-100 hidden sm:block;
}

.btn-solid {
  @apply bg-gradient-to-r from-brand via-[#05d1c4] to-[#26EEA0] rounded-md text-white px-4 py-2 font-bold;
}
.btn-outline {
  @apply bg-white border border-gray-400 rounded-md text-brand px-6 py-2 font-semibold;
}

.active {
  @apply bg-secondary bg-opacity-15 rounded-md;
}

@media (max-width: 767px) {
  .active {
    @apply bg-secondary bg-opacity-15 rounded-none w-full;
  }
}

.custom-input {
  @apply border border-gray-300 rounded-md w-full py-2 px-4 placeholder:text-sm focus:border-brand focus:shadow-lg;
}

.slideshow li span {
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}
/* .slideshow li span img {
  min-height: 450px;
} */

.slideshow li:nth-child(2) span {
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.slider-inner-card {
  @apply bg-white m-5 shadow-[rgba(0,0,0,0.15)_1.95px_1.95px_2.6px] p-5 min-h-[320px] xl:min-h-[300px];
}

.testimonial-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gallery-slider .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 410px;
  height: 410px;
}

.gallery-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-bg {
  background-image: url("./assets/images/home/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.item {
  @apply w-full flex items-center gap-x-3 flex-wrap select-none border-b text-sm font-semibold;
}
.content {
  @apply peer-checked:max-h-max max-h-0 basis-full peer-checked:border-y-[1px] bg-gray-200 peer-checked:p-3 overflow-hidden transition-all select-text;
}

.supply-header-bg {
  background-image: url("./assets/images/supply-page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 350px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
}

.Modal {
  max-width: 50%;
  max-height: 90%;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

@media(max-width: 786px){
  .Modal {
    max-width: 80%;
  }
  
}

.custom-modal::-webkit-scrollbar {
  width: 10px;
}

.custom-modal::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.custom-modal::-webkit-scrollbar-thumb {
  background-color: #cff1ef;
  border-radius: 100px;
}

.donate-page-bg{
  background-image: url('./assets//images/donate.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
}